a:hover {
  color: #c8943a;
}

.header {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 2fr;
  align-items: center;
  padding: 92px 51px 89px;
}

.header__links-list {
  list-style: none;
  display: flex;
  gap: 32px;
}

.header__links-list-item {
  padding-left: 10px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  padding-left: 0;
  list-style: none;
}

.header__links-list-item_no-bullit::before {
  display: none;
}

.header__link {
  text-decoration: underline;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  white-space: nowrap;
}

.header__link_active {
  text-decoration: none;
}

.header__logo-image {
  display: block;
  justify-self: center;
  align-self: center;
  width: 140px;
}

.header_address{
  justify-self: end;
  font-style: inherit;
  display: block;
  font-size: 18px;
  line-height: 1.35;
  text-underline-position: under;
  line-height: 1.35;
  padding-left: 100px;
}
.address{
  font-style: inherit;
  display: flex;
  flex-direction: column;
  justify-self: start;
  font-size: 18px;
}
.cover {
  width: 1100px;
  min-height: 757px;
  margin: 0 auto;
  position: relative;
  background-image: url('../images/cover.jpg');
  background-size: cover;
  background-position: center;
}

.cover__overlay{
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #000000;
  inset: 0;
}

.cover__words {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 75px 40px;
}

.cover__word {
  position: relative;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color:aliceblue;
}

.cover__word_top {
  align-self: flex-start;
  padding-top: 90px;
}

.cover__word_center {
  align-self: center;
  padding:35px 0 0 25px;
}

.cover__word_bottom {
  align-self: flex-end;
  padding: 25px 0 50px;
  position: relative;
  left: 30px;
}

.cover__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0 40px 50px;
}

.cover__tagline {
  font-size: 22px;
  word-spacing: 16px;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 0;
  color: aliceblue;
  font-weight: 400;
  padding-left: 10px;
  z-index: 1;
}

.cover__button {
  background: transparent;
  border: 1px solid currentColor;
  color: aliceblue;
  opacity: 0.8;
  padding: 12px 20px;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  white-space: nowrap;
  transition: background 0.3s ease, color 0.3s ease;
}

.cover__button:hover {
  background: rgba(255, 255, 255, 0.85);
  color: #121212;
}

.lots {
  width: 1100px;
  padding: 70px 0;
}

.lots__heading {
  width: 121px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 46px;
  margin-left: 40px;
  line-height: 47px;
}

.lots__card-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 24px;
}

.lots__card-list-item {
  width: 334px;
}

.card-link {
  text-decoration: none;
  color: aliceblue;
}
.card_type_film{
  background:url(../images/card-lot-01.jpg);
}
.card_type_book{
  background:url(../images/card-lot-02.jpg);
}
.card_type_picture{
  background:url(../images/card-lot-03.jpg);
}

.card {
  width: 334px; 
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 50px 40px;
  justify-content: space-between;
  background-position: center;
  background-size: cover;
}

.card__title {
  position: relative;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.3;
  text-decoration: underline;
  z-index: 1;
  text-transform: uppercase;
  
}

.card__text {
  position: relative;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  z-index: 1;
  padding-top: 21px;
}

.lots__look-more-link {
  display: inline-block;
  margin-top: 40px;
  margin-left: 40px;
  font-size: 20px;
  text-decoration: underline;
}

.about {
  width: 1100px;
  margin: 0 auto;
  padding: 70px 0;
  padding-bottom: 0;
  margin-bottom: 180px;
  display: flex;
  gap: 40px;
  padding-left: 50px;
}

.about__column:first-child {
  flex-shrink: 0;
}

.about__column:last-child {
  flex: 1;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  object-fit: contain;
}

.about__title {
  width: 291px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-top: 100px;
  line-height: 47px;
  white-space: nowrap;
}

.about__text {
  width: 100%;
  font-size: 20px;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 100px;
  padding-right: 24px;
  letter-spacing: 0;
  font-weight: 400;
}

.about__text p {
  margin: 0;
}

.footer {
  width: 1100px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding:0 50px 95px 50px;
}

.footer__menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer__menu-link {
  font-size: 18px;
  text-decoration: underline;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.1;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  list-style: none;
  display: flex;
  gap: 40px;
  align-items: center;
  
}

.footer__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease;
}

.footer__social-link:hover {
  opacity: 0.7;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}